<section id="communities" class="communities-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title">Allied Communities</h2>
                <p class="section-subtitle">We're proud to have these communities as allies.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="community-logos">
                    <div class="community-logo-container"><a href="https://gdg.community.dev/gdg-guadalajara/" target="_blank"><img src="img/communities/GDGGuadalajara.png" alt="GDG Guadalajara" class="community-logo"></a></div>
                    <div class="community-logo-container"><a href="https://www.linkedin.com/company/cloud-native-querétaro/" target="_blank"><img src="img/communities/cnqueretaro.png" alt="Cloud Native Queretaro" class="community-logo"></a></div>
                    <div class="community-logo-container"><a href="https://www.instagram.com/technology_events_community?igsh=MXgydXFnYWRpcnRseg==" target="_blank"><img src="img/communities/tech-events.jpg" alt="Technology Events " class="community-logo"></a></div>
                </div>
                <div class="community-logos">
                    <div class="community-logo-container"><a href="https://instagram.com/lnxzpn" target="_blank"><img src="img/communities/linuxeros.png" alt="Linuxeros Zapopan" class="community-logo"></a></div>
                    <div class="community-logo-container"><a href="https://instagram.com/ieee.ucc" target="_blank"><img src="img/communities/ieee.png" alt="IEEE Rama Estudiantil" class="community-logo"></a></div>
                    <div class="community-logo-container"><a href="https://www.instagram.com/calzada.code?igsh=NmdqZTdzcXhzaHhk" target="_blank"><img src="img/communities/calzadacode.png" alt="Calzada Code" class="community-logo"></a></div>                    
                </div>
                <div class="community-logos">
                    <div class="community-logo-container"><a href="https://www.instagram.com/playasontech_mzo/" target="_blank"><img src="img/communities/playasontech.png" alt="Linuxeros Zapopan" class="community-logo"></a></div>
                </div>
            </div>
        </div>

    </div>
</section>