<section id="communities" class="communities-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title">Allied Communities</h2>
                <p class="section-subtitle">We're proud to have these communities as allies.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="community-logos">
                    <div class="community-logo-container"><a href="#" target="_blank"><img src="img/communities/GDGGuadalajara.png" alt="GDG Guadalajara" class="community-logo"></a></div>
                 </div>
            </div>
        </div>

    </div>
</section>