<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        JConf Mexico is a Java conference organized with love by two passionate Java User Groups: GDL JUG from Guadalajara and J4Guanatos from Guanajuato. Born from the desire to bring quality Java education and networking to the Mexican developer community, our event is created by developers for developers. 
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                </div>
            </div>                      
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        {{ if isset .Site.Params.ananke.social "facebook" }}
                        <a href="{{ .Site.Params.ananke.social.facebook.profilelink }}"><i class="fa fa-facebook"></i></a>
                        {{ end }}
                        {{ if isset .Site.Params.ananke.social "xtwitter" }}
                        <a href="https://twitter.com/{{ .Site.Params.ananke.social.xtwitter.username }}"><i class="fa fa-twitter"></i></a>
                        {{ end }}
                        {{ if isset .Site.Params.ananke.social "linkedin" }}
                        <a href="{{ .Site.Params.ananke.social.linkedin.profilelink }}"><i class="fa fa-linkedin"></i></a>
                        {{ end }}
                        {{ if isset .Site.Params.ananke.social "github" }}
                        <a href="https://github.com/{{ .Site.Params.ananke.social.github.username }}"><i class="fa fa-github"></i></a>
                        {{ end }}
                    </div>
                </div>
            </div>                          
        </div>
    </div>
</footer>