<!-- Start Organizers Area -->
<section class="spekers-area pb-100" id="organizers">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="text-white section-title">Organizadores</h1>
                <p class="section-subtitle">Conoce a quienes hacen posible este evento</p>
            </div>
        </div>
        <div class="row no-padding">
            <div class="active-speaker-carusel col-lg-12 no-padding">
                <!-- <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <div class="image-container">
                                    <img src="img/organizers/sedano.jpeg" alt="Organizer 1">
                                </div>
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">Kim</h6>
                                <h1 class="text-white">Kim Escobedo</h1>
                                <p>
                                    Apasionado por la tecnología y organizador de eventos para la comunidad de Java en México.
                                </p>
                            </div>
                        </div>
                    </div>								
                </div> -->

                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <div class="image-container">
                                    <img src="img/organizers/sedano.jpeg" alt="Organizer 2">
                                </div>
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">Sedano</h6>
                                <h1 class="text-white">Juan Carlos Sedano</h1>
                                <p>
                                    Líder técnico con 12+ años de experiencia, coorganiza la JUG GDL y apoya eventos tecnológicos en Guadalajara.
                                </p>
                        
                            </div>
                        </div>
                    </div>								
                </div>

                <!-- <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <div class="image-container">
                                    <img src="img/organizers/sedano.jpeg" alt="Organizer 3">
                                </div>
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">Orly</h6>
                                <h1 class="text-white">Orlando Cano</h1>
                                <p>
                                    Ingeniera en software y entusiasta de la comunidad tecnológica en Latinoamérica.
                                </p>
                        
                            </div>
                        </div>
                    </div>								
                </div>

                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <div class="image-container">
                                    <img src="img/organizers/sedano.jpeg" alt="Organizer 4">
                                </div>
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">Sier</h6>
                                <h1 class="text-white">Sinuhe Jaime Valencia</h1>
                                <p>
                                    Ingeniera en software y entusiasta de la comunidad tecnológica en Latinoamérica.
                                </p>
                        
                            </div>
                        </div>
                    </div>								
                </div> -->

                <div class="single-speaker item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 speaker-img no-padding">
                                <div class="image-container">
                                    <img src="img/organizers/chrisom.jpeg" alt="Organizer 5">
                                </div>
                            </div>
                            <div class="col-md-6 speaker-info no-padding">
                                <h6 class="text-uppercase">Chrisom</h6>
                                <h1 class="text-white">Christian Gomez</h1>
                                <p>
                                    Ingeniero de software con 15+ de experiencia en el area y entusiasta de las comunidades, parte de la organizacionJUG GDL.
                                </p>
                        
                            </div>
                        </div>
                    </div>								
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End Organizers Area -->
