<section class="speakers-area pb-100" id="speakers">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="text-white section-title">Speakers</h1>
                <p class="section-subtitle text-white">Meet the people who will be sharing their knowledge at our event.</p>
            </div>
        </div>
        <div class="row speaker-grid">  
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/domingo-suarez-torres.jpg" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Domingo Suarez Torres</h1>
                        <h6 class="text-uppercase">Code designer</h6>
                        <p class="text-white">
                            Utopian code typer. Java Champion
                        </p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/domix"><i class="fa fa-facebook"></i></a>
                            <a href="https://x.com/domix"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/domix/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/domix/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/joel-humberto-gomez-paredes.jpg" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Joel Humberto Gomez Paredes</h1>
                        <h6 class="text-uppercase">Frontend Developer at Platzi, Google Developer Expert</h6>
                        <p class="text-white">Frontend Developer at Platzi, FullStack JS Developerk, GDE on Web Technologies and Google Maps Platform. Pokemon master, corgi fan and taco lover.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/mr.dezka"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/DezkaReid"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/joelhumberto/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/dezkareid/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/rolando-carrasco.jpg" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Rolando Carrasco</h1>
                        <h6 class="text-uppercase">CTO</h6>
                        <p class="text-white">Rolando Carrasco is a technology enthusiastic whose work has been focused on Services Orientation, Distributed Systems, Integration, Event Driven Architecture. He has over 20 years of experience in the IT industry and has worked for companies like HP & Oracle.
                            Rolando is a constant speaker in international conferences and a constant contributor within the community with blogs, videos, webinars, podcasts, presentations, and event coordination.</p>
                        <div class="social-icons">
                            <a href="https://x.com/borland_c"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/rolandocarrasco/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/borland_c/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row speaker-grid">  
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/jesus-aguirre.png" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Jesús Aguirre</h1>
                        <h6 class="text-uppercase">Indra - Senior System Engineer</h6>
                        <p class="text-white">Passionate professional dedicated to building and growing collaborative tech communities, optimizing developer experience, and scaling platforms. Specialist in Java-based systems with a strong focus on scalability, performance, and maintainability. Actively engaged in the CNCF ecosystem, driving innovation through practical cloud-native solutions.</p>
                        <div class="social-icons">
                            <a href="https://x.com/borland_c"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/info-aguirre-jesus/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/borland_c/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/frank-zeyda.jpg" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Frank Zeyda</h1>
                        <h6 class="text-uppercase">Independent Consultant - Safe&Secure Systems Engineering</h6>
                        <p class="text-white">Frank Zeyda (Dipl.-Inform. BSc PhD PgCLTHE) feels at home in both the world of academia and industry. He has made sustained contributions to academic research in the field of Formal Methods (FM), Semantic Foundations of Programming, and Automated Theorem Proving on EPSRC/EC/DARPA-funded projects while also working for several years in industry to apply formal techniques to real-world verification and testing of safety-critical avionic systems, under stringent certification standards such as DO-178C. Currently, he works as an independent consultant for Galois, Inc. and Free & Fair, PBC. In Guadalajara, he moreover organizes meetups of the Embedded Systems Geeks (ESG) group.</p>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/frank-zeyda/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="speaker-card">
                    <div class="speaker-img">
                        <img src="img/speakers/enrique-zamudio.jpg" alt="" class="img-fluid rounded-top">
                    </div>
                    <div class="speaker-info">
                        <h1 class="text-white">Enrique Zamudio</h1>
                        <h6 class="text-uppercase">Java Champion doing cryptocurrency stuff</h6>
                        <p class="text-white">Enrique Zamudio is a professional programmer since 1994, based in Mexico City. He has specialized in server-side development with Java since 2000, focusing on backend applications, such as transactional switches for e-commerce and payment platforms. He is the author of the open source projects jAlarms, j8583 and ScalaSQL. Enrique joined the Ceylon Language development core team on January 2012, where he contributed to the language module, the web IDE and the JVM compiler, and was the lead developer of the Ceylon-to-JavaScript compiler.
                            He joined Bitso in 2017 and currrently works there as Principal Engineer.</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/chochosmx"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/enriquezamudiolopez/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/borland_c/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</section>