<section id="sponsors" class="sponsors-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title">Our Sponsors</h2>
                <p class="section-subtitle">We gratefully acknowledge the support of our sponsors.</p>
            </div>
        </div>

        <div class="row sponsor-row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="sponsor-tier-title">Diamond</h3>
                <div class="sponsor-logos diamond-logos">
                    <img src="img/sponsors/Zillow Logo_Primary_RGB.png" alt="Diamond Sponsor 1" class="sponsor-logo">
                
                </div>
            </div>
        </div>

        <!-- <div class="row sponsor-row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="sponsor-tier-title">Gold</h3>
                <div class="sponsor-logos gold-logos">
                    <img src="img/sponsor-gold-1.png" alt="Gold Sponsor 1" class="sponsor-logo">
                    <img src="img/sponsor-gold-2.png" alt="Gold Sponsor 2" class="sponsor-logo">
                </div>
            </div>
        </div>

        <div class="row sponsor-row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="sponsor-tier-title">Silver</h3>
                <div class="sponsor-logos silver-logos">
                    <img src="img/sponsor-silver-1.png" alt="Silver Sponsor 1" class="sponsor-logo">
                    <img src="img/sponsor-silver-2.png" alt="Silver Sponsor 2" class="sponsor-logo">
                </div>
            </div>
        </div>

        <div class="row sponsor-row justify-content-center">
            <div class="col-12 text-center">
                <h3 class="sponsor-tier-title">Virtual</h3>
                <div class="sponsor-logos virtual-logos">
                    <img src="img/sponsor-virtual-1.png" alt="Virtual Sponsor 1" class="sponsor-logo">
                    <img src="img/sponsor-virtual-2.png" alt="Virtual Sponsor 2" class="sponsor-logo">
                </div>
            </div>
        </div> -->

    </div>
</section>